.homepage_wrapper{
    width: 1509px;
    padding: 0;
}

.homepage_header{
    height: 100px;
}
.homepage_title{
    background-color:#004D85;
    height: 90px;
    margin: 3px; 
}

.homepage_title li{
    display: inline-block; 
}



.navbar {
    height: 50px;
    margin: 2px;
    width: 1509px;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: rgb(10, 168, 207);;
  }
  
  
  .fling-minislide {
    height: 500px; 
    overflow:hidden; 
    padding-top: 40px;
    width: 1200px;
    text-align: left; 
    padding-left: 150px;
    padding-right: 150px;
  }
  .fling-minislide img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 1200px; 
    height: 500px; 
    

  }

  .games_column {
    float: left;
    width: 33.33%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Clear floats after the columns */
  .games_row_1:after {
    content: "";
    display: table;
    clear: both;
  }

  .horizontal_bar
  {
 
  height: 50px;
  margin: 0 auto;
  border-top: 20px solid #4DB5FF;
  border-bottom: 20px solid #4DB5FF;
  text-align: center;
  width: 1509px;
 
  }
  .horizontal_bar p
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
  }
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}



.footer {
  color: white; 
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #e5e5e5;
  bottom:0;
  width:1509px;
  text-align:center;
}

.footer_column {
  float: left;
  width: 503px;
  height: 200px; 
  background-color:#004D85;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;

}







