@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700&display=swap');

body
{
    font-family:'Yanone Kaffeesatz', sans-serif;
}

.heading{
    font-size: 4em;
}
.name{
    color: #004D85;
    font-size: 3em;

}

.role{
    color: red;
    font-size: 1.5em;
}
