@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700&display=swap');


.error
{
  color:red;
  font-size: 5em;
  font-weight:900;
  font-family:'Yanone Kaffeesatz', sans-serif;
}

.error-message
{

  color:#004D85;
  font-size: 2.5em;
  font-weight: 600;
  font-family:'Yanone Kaffeesatz', sans-serif;
}

.home
{
  
  color: green;
  font-size: 3em;
  font-weight: 400;
  font-family:'Yanone Kaffeesatz', sans-serif;
}

.enjoy-video
{

  color:black;
  font-size: 2em;
  font-weight: 350;
  font-family:'Yanone Kaffeesatz', sans-serif;
}

