
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.title{
  /*	background-color:#004D85;*/
  /* 	background-color:#222; */
	text-align: center;
    color: white;
    font-weight: bolder;
    font-family:'Yanone Kaffeesatz', sans-serif;;
    font-size: 6rem;
    padding-top: 1%;
}

.body-main{
	background-color:white;
}

.carousel-inner img { 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

.navbar {
    background-color: #333;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 2rem;
}

  .fling-minislide {
    height: 500px; 
    overflow:hidden;   
    width: 1200px;
    width:88.888888888%;   /* 1200/1350=88.8888888% */
    text-align: left; 

  }
  .fling-minislide img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%;
    height: 500px; 
  }


  .horizontal_bar
  {
	  margin-bottom: 1%;
	  border-top: 20px solid #004D85;
	  border-bottom: 20px solid #004D85;
	  text-align: center;
  }
  .horizontal_bar p
  {
    font-family: 'Open Sans', sans-serif;
    
  }
  
  .moregames_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff4700;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.moregames_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.moregames_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.moregames_button:hover span {
  padding-right: 25px;
}

.moregames_button:hover span:after {
  opacity: 1;
  right: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
} */

li a, .dropbtn1 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown1:hover .dropbtn1 {
  background-color: dimgrey;
  color: white;
}

li.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: fixed;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown1-content-a {
  color: #9d9d9d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown1-content-a:hover {
	/* background-color: #f1f1f1; */
	color: white;
	text-decoration: none;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}



@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}


.page-content
{
	font-family: 'Open Sans', sans-serif;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #004D85;
  height: 60%;  
}

.card_image{
  width: 90%;
  height: 90%;
  border: white solid;
  min-height: 250px;
}


.title-font{
	font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.title a{
  color:#f10606; 
}

.title  a:hover {
  color: #fff; /*the default color*/
  text-decoration: none;
}

.game-title-font{
    font-weight: bold;
}

.button-class{
	float: left;
}

.card_name{
  color: white;
  float: left;
}
.card_button{
    float: right;
    background-color: rgb(243, 32, 17); 
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


	
.blue
{
color:#004D85;
font-weight:  bolder;
font-size: 2.5em;
}

/*Media Query */
@media screen and (max-width: 376px) 
{
	body{
		width: 100%;
  
}
.row{
	width:95%;
}

  .homepage_wrapper{
    width:376px;
    width: 100%;
    padding: 0;
}


.navbar {
  height: 25px;
  margin: 0px;
  width:376px;
  width: 100%;/* 
  
}

.horizontal_bar
{
margin-bottom: 1%;
  border-top: 20px solid #004D85;
  border-bottom: 20px solid #004D85;
  text-align: center;

}


.fling-minislide {
  width:376px;
  width: 100%;
  height:190px;

}

.fling-minislide img{ 
  width:376px;
  width: 100%;
  height: 250px; 
  

}

.slider{
	height: 75px;
}
 
 .column{
 	width: 100%;
 	display: block;
 }
 
 	.homepage_title{
    	font-size: xx-large;
	}
	.navbar-ul{
		font-size: 12.4px;
	}
	
	.navbar-li{
		font-size: 12.4px;
	}
	
}