<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action=/newgame th:action="@{/newgame}" th:object="${game}" method="post">
		<p>
			Game Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Creater: <input type="text" th:field="*{creater}" />
		</p>
		<p>
			Genre: <input type="text" th:field="*{genre}" />
		</p>
		<p>
			Description: <input type="text" th:field="*{description}" />
		</p>
		<p>
			imageUrl: <input type="text" th:field="*{imageUrl}" />
		</p>
		<p>
			imageUrl1: <input type="text" th:field="*{imageUrl1}" />
		</p>
		<p>
			imageUrl2: <input type="text" th:field="*{imageUrl2}" />
		</p>
		<p>
			<!--  Platform Type: <input type="text" th:field="*{platformType}" /> -->
			Platform Type: <select  th:field="*{platformType}">
				<option value="XBox">XBox</option>
				<option value="PS4">PS 4</option>
				<option value="PS3">PS 3</option>
			</select>
		</p>
		<p>
			<!--  Age Category: <input type="text" th:field="*{ageCategory}" />-->
			Age Category: <select  th:field="*{ageCategory}">
				<option value="1">5-10 Year</option>
				<option value="2">10-20 Year</option>
				<option value="3">20+ Year</option>
			</select>
		</p>
		<p>
			<!-- Available?: <input type="text" th:field="*{available}" />  --> 
			Available? <select  th:field="*{available}">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</p>
		<p>
			Discount: <input type="text" th:field="*{discount}" />
		</p>
		<p>
			Price: <input type="text" th:field="*{price}" />
		</p>
		<p>
			HomePage Flag?: <select  th:field="*{homepageFlag}">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>