<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Meet the Team</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">   
    <link rel="shortcut icon" type="../images/icon.png" href="../images/icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
    <link rel="stylesheet" href="../css/about_us.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    

	</head>
  
    <body id="meet-the-team">
        <div>
          <div class="title">
            <img src="../images/icon.png" width="80px" height="80px" style="vertical-align: text-bottom;">
            <span>aLPACA GAMES</span>
          </div>
      </div>
      <nav class="navbar navbar-inverse " style= "margin-bottom: 0px; border-radius: 0px;" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
           
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li ><a href="index.html">Home</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html"><span class="glyphicon glyphicon-user"></span> Login</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
          </div>
        </div>  
      </nav>
      <br>
      <div class="container">
        <div class="row">

<section class="team-section text-center my-5">

    
    <h2 class="h1-responsive font-weight-bold my-5 heading">Meet our amazing team</h2>
  
    <div class="row">
  
  
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../images/meet-the-team/chetan.png" class="rounded-circle z-depth-1"
            alt="Chetan Joshi">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3 name">Chetan Joshi</h3>
        <p class="text-uppercase role"><strong>Full Stack Developer</strong></p>

        
      </div>   
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../images/meet-the-team/kenil.png" class="rounded-circle z-depth-1"
            alt="Kenil Shah">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3 name">Kenil Shah</h3>
        <p class="text-uppercase role"><strong>Data Engineer</strong></p>
        
      </div>
   
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../images/meet-the-team/naresh.png" class="rounded-circle z-depth-1"
            alt="Naresh Choudhary">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3 name">Naresh Choudhary</h3>
        <p class="text-uppercase role"><strong>Back End Developer</strong></p>
      
      </div>
   
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img src="../images/meet-the-team/pallavi.png" class="rounded-circle z-depth-1"
            alt="Pallavi Tiwari">
        </div>
        <h3 class="font-weight-bold mt-4 mb-3 name">Pallavi Tiwari</h3>
        <p class="text-uppercase role"><strong>Front End Developer</strong></p>
      
      </div>
   
  
    </div>

  
  </section>
 
        </div> 
    </div>
    
 <br> <br>
<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a class="link-1" href="#">Home</a>

      <a href="#">Games</a>

      <a href="#">Store</a>

      <a href="#">Contact</a>
      
      <a href="#">About</a>
    </p>

    <p>Alpaca Games &copy; 2020</p>
  </div>

</footer>
  
			
	</body>
</html>