<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Admin Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/footer.css">
<link rel="shortcut icon" type="../images/icon.png"
	href="../images/icon.png" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">
</head>

<body id="adminHomepage">


	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse "
		style="position: sticky;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="title" style="position: absolute;">
					<a href="/"> <img src="../images/icon.png" width="80px"
						height="80px" style="vertical-align: text-bottom;"> <span
						style="position: fixed; font-size: xx-large;">aLPACA GAMES</span>
					</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar"
				style="background-color: #333333; z-index: -1; height: 1px;">
				<ul class="nav navbar-nav navbar-right"
					style="background-color: #333333;">
					<li class="dropdown1"><a href="javascript:void(0)"
						class="dropbtn1" style="color: #72ce62;"> <span
							class="glyphicon glyphicon-user"></span> <span>admin</span>
					</a>
						<ul class="dropdown1-content">
							<li><a class="dropdown1-content-a" href="/logout"><span
									style="color: red; font-weight: bold;"
									class="glyphicon glyphicon-off"></span> Logout</a></li>
						</ul></li>
					
				</ul>
			</div>
		</div>
	</nav>
	<div class="page-content">
		<div class="jumbotron jumbotron-sm">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="blue">Admin Homepage</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">Admin Panel</div>
					<div class="panel-body">
					<br>
						<div class="col-sm-3">
							<div class="panel panel-default text-center">
								<div class="panel-body">
									<div class="btn-group btn-group-md">
										<br>
										<div>
											<i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
										</div>
										<br>
										<div>
											<a href="games" class="btn btn-primary"
												style="margin-bottom: 20px;"> View All Games</a>
										</div>
									</div>
								</div>


							</div>
						</div>

						<div class="col-sm-3">
							<div class="panel panel-default text-center">
								<div class="panel-body">
									<div class="btn-group btn-group-md">
										<br>
										<div>
											<i class="fa fa-users fa-5x" aria-hidden="true"></i>
										</div>
										<br>
										<div>
											<a href="users" class="btn btn-primary"
												style="margin-bottom: 20px;"> View All Users</a>
										</div>

									</div>
								</div>


							</div>
						</div>
						<div class="col-sm-3">
							<div class="panel panel-default text-center">
								<div class="panel-body">
									<div class="btn-group btn-group-md">
										<br>
										<div>
											<i class="fa fa-cart-arrow-down fa-5x" aria-hidden="true"></i>
										</div>
										<br>
										<div>
											<a href="orders" class="btn btn-primary"
												style="margin-bottom: 20px;"> View All Orders</a>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="col-sm-3">
							<div class="panel panel-default text-center">
								<div class="panel-body">
									<div class="btn-group btn-group-md">
										<br>
										<div>
											<i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
										</div>
										<br>
										<div>
											<a href="messages" class="btn btn-primary"
												style="margin-bottom: 20px;"> View User Messages</a>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> 
				<a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/chetan2119/alpaca-games"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="/">Home</a>
					<a href="#">Games</a>
					<a href="/contactus">Contact</a>
					<a href="/aboutus">About</a>
				</p>
				<p>Alpaca Games &copy; 2020</p>
			</div>
		</footer>

</body>
</html>