<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Admin Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/footer.css">
<link rel="shortcut icon" type="../images/icon.png" 	href="../images/icon.png" />
<link rel="stylesheet" 	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body id="adminHomepage">
	<div>
		<div class="title">
			<img src="../images/icon.png" width="80px" height="80px"
				style="vertical-align: text-bottom;"> <span>aLPACA
				GAMES</span>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse " style="position:sticky;" >
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <div class="title" style="    position: absolute;">
				<a href="/">
  				<img src="../images/icon.png" width="80px" height="80px" style="vertical-align: text-bottom;" >
				<span style="position: fixed;font-size: xx-large;">aLPACA GAMES</span>
				</a>
  			  </div>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/contactus">Contact</a></li>
				<li><a href="/aboutus">About</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
				<li><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>



	<div class="container">	
		<div class="page-header">
			<h1>Admin HomePage</h1>
		</div>
		<div class = "row">
	
	    <div class="panel panel-default">
	     <div class="panel-heading">Admin Panel </div>
			<div class="panel-body">
				<a href="games"  class="btn btn-primary"> View All Games</a>			
			
				<a href="users"  class="btn btn-primary"> View All Users</a>			
			
				<a href="admin/orders"  class="btn btn-primary"> View All Orders</a>
			</div>
		</div>
		</div>
	</div>

	<br>
	<br>
	
	
	<!-- #######################3 Start of Footer #########################33 -->
	<footer class="footer-distributed">

		<div class="footer-right">

			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>
		<div class="footer-left">
			<p class="footer-links">
				<a href="/">Home</a> <a href="#">Games</a> <a href="/contactus">Contact</a>
				<a href="/aboutus">About</a>
			</p>
			<p>Alpaca Games &copy; 2020</p>
		</div>
	</footer>


</body>
</html>