<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<title>Contact Us</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="../images/icon.png"
	href="../images/icon.png" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/footer.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../css/contact_us.css">
	<script src="../js/cart.js"></script>

<script>
function ShowSuccessMessage(){
	if(document.getElementById("name").value=="" ||
		document.getElementById("email").value=="" ||
		document.getElementById("message").value=="" ||
		document.getElementById("subject").value=="")
		return;
	
    	window.alert("[[${success}]]");
}
</script>
</head>

<body id="home">

	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse " style="position:sticky;border-bottom: solid #254d85;" >
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <div class="title" style="    position: absolute;">
				<a href="/">
  				<img src="../images/icon.png" width="80px" height="80px" style="vertical-align: text-bottom;" >
				<span style="position: fixed;font-size: xx-large;">aLPACA GAMES</span>
				</a>
  			  </div>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: #333333; z-index: -1; height: 1px;">
		      <ul class="nav navbar-nav navbar-right" style="background-color: #333333;">
		        <li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/contactus">Contact</a></li>
				<li><a href="/aboutus">About</a></li>
				<li th:if="${user==null}"><a href="/login">Login</a></li>
				<li th:unless="${user==null}" class="dropdown1">
			    	<a href="javascript:void(0)" class="dropbtn1" style="color: #72ce62;">
			    		<span class="glyphicon glyphicon-user"></span>
			    		<span th:text="${user}"></span>&nbsp;<span class="glyphicon glyphicon-menu-down"></span>
			    	</a>
	    			<ul class="dropdown1-content">
		    			<li><a class="dropdown1-content-a" href="/orderhistory/1">Orders</a></li>
		      			<li><a class="dropdown1-content-a" href="/logout"><span style="color: red; font-weight: bold;" class="glyphicon glyphicon-off"></span> Logout</a></li>
		    		</ul>
			    </li>
			    <li><a href="#" onclick="openCartPage(document.getElementById('cartForm'))"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				
		      </ul>
		      <form id="cartForm" method="post" onSubmit="openCartPage(this.form)">
			        <input type = "hidden" name = "mycart"/>			
			  </form>
		    </div>
		  </div>
		</nav>

	<div class="jumbotron jumbotron-sm">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="blue">Feel free to contact us</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="well well-sm">
					<form th:object="${message}" method="post" id="contactus">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="name"> Name</label> <input type="text"
										class="form-control" id="name" placeholder="Enter Name"
										required="required" th:field="*{sendername}" />
								</div>
								<div class="form-group">
									<label for="email"> Email Address</label>
									<div class="input-group">
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-envelope"></span> </span> <input
											type="email" class="form-control" id="email"
											placeholder="Enter Email" required="required"
											th:field="*{senderemail}" />
									</div>
								</div>
								<div class="form-group">
									<label for="subject"> Subject</label> <select id="subject"
										name="subject" class="selectpicker form-control" required="required"
										th:field="*{subject}" >
										<option value="">Select One</option>
										<option value="Customer Service">Customer Service</option>
										<option value="Order Information">Order Information</option>
										<option value="Suggestions">Suggestions</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name"> Message</label>
									<textarea name="message" id="message" class="form-control"
										rows="9" cols="25" required="required" th:field="*{msg}"
										placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary pull-right"
									id="btnContactUs"  onclick="ShowSuccessMessage()"
									style="color: #fff; background-color: #204a86ba;">
									Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-4">
				<form>
					<legend>
						<span class="glyphicon glyphicon-globe"></span> Our office
					</legend>

					<address>
						<strong>Alpaca Games</strong><br> 210 Olsen Blvd,<br>
						College Station, TX 77845<br> <abbr title="Phone"> <span
							class="glyphicon glyphicon-phone-alt"></span></abbr> (979) 739-0574
					</address>
					<address>
						<strong>Alpaca Games</strong><br>
						<span class="glyphicon glyphicon-envelope"></span><a
							href="mailto:#"> contactus@alpacagames.com</a>
					</address>
				</form>
			</div>
		</div>
	</div>


	<br>


<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> 
				<a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/chetan2119/alpaca-games"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="/">Home</a>
					<a href="#">Games</a>
					<a href="/contactus">Contact</a>
					<a href="/aboutus">About</a>
				</p>
				<p>Alpaca Games &copy; 2020</p>
			</div>
		</footer>

</body>
</html>