<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Add New Game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../../css/footer.css">
<link rel="shortcut icon" type="../images/icon.png"
	href="../../../images/icon.png" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../css/main.css">
</head>

<body id="newgame">

	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse "
		style="position: sticky;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="title" style="position: absolute;">
					<a href="/"> <img src="../../../images/icon.png" width="80px"
						height="80px" style="vertical-align: text-bottom;"> <span
						style="position: fixed; font-size: xx-large;">aLPACA GAMES</span>
					</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" style="background-color: #333333; z-index: -1; height: 1px;">
		      <ul class="nav navbar-nav navbar-right" style="background-color: #333333;">
					<li><a href="/">Home</a></li>
					<li><a href="/games">Games</a></li>
					<li><a href="/contactus">Contact</a></li>
					<li><a href="/aboutus">About</a></li>
					<li><a href="/login"><span
							class="glyphicon glyphicon-user"></span> Login</a></li>
					<li><a href="/checkout"><span
							class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				</ul>
			</div>
		</div>
	</nav>


<div class="page-content">
	<div class="jumbotron jumbotron-sm">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="blue">Add New Game</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-2"></div>
	<div class="col-sm-8">
	<div class="well well-sm">
			<div class="row">

				<div class="col-sm-10">
					<form th:object="${game}" method="post" role="form" id="addnewgameform">

						<div class="form-group col-sm-6 form-group required">
							<label for="Name" class="control-label">Name</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" id="name" placeholder="Enter Name"
								th:field="*{name}" required />
						</div>

						<div class="form-group col-sm-6 form-group required">
							<label for="Creator" class="control-label">Creator</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" placeholder="Enter Creator"
								th:field="*{creater}" required/>
						</div>
						<div class="form-group col-sm-6">
							<label for="Genre">Genre</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" placeholder="Enter Genre" th:field="*{genre}" />
						</div>
						<div class="form-group col-sm-6">
							<label for="Description">Description</label>
						</div>
						<div class="form-group col-sm-6">
						<textarea rows="8" cols="35" placeholder="Enter Description"
									th:field="*{description}"></textarea>
						</div>
						<div class="form-group col-sm-6 form-group required">
							<label for="imageUrl" class="control-label">Image Url</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" placeholder="Enter Image URL"
								th:field="*{imageUrl}" required/>
						</div>
						<div class="form-group col-sm-6 form-group required">
							<label for=imageUrl1 class="control-label">Product Detail Image URL1</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" placeholder="Enter Image URL1"
								th:field="*{imageUrl1}" required/>
						</div>
						<div class="form-group col-sm-6">
							<label for="imageUrl2">Product Detail Image URL2</</label>
						</div>
						<div class="form-group col-sm-6">
							<input type="text" placeholder="Enter Image URL2"
								th:field="*{imageUrl2}" />
						</div>
						<div class="form-group col-sm-6">
							<label for="Platform Type">Platform Type</label>
						</div>
						<div class="form-group col-sm-6">
							<select th:field="*{platformType}">
								<option value="XBox">XBox</option>
								<option value="PS4">PS 4</option>
								<option value="PS3">PS 3</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label for=""></label>
						</div>

						<div class="form-group col-sm-6 form-group required">
							<label for="Age Category" class="control-label">Age Category</label>
						</div>

						<div class="form-group col-sm-6">
							<select id="ageCategory" required="required" th:field="*{ageCategory}">
								<option value="0">Age Category</option>
								<option value="1">5-10</option>
								<option value="2">10-20</option>
								<option value="3">20+</option>
							</select>
						</div>


						<div class="form-group col-sm-6">
							<label for="Available"></label>
						</div>
						<div class="form-group col-sm-6">
							<label for="Available">Available</label>
						</div>
						<div class="form-group col-sm-6">
							<select th:field="*{available}">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</div>

						<div class="form-group col-sm-6"></div>

						<div class="form-group col-sm-6 form-group required">
							<label for="Discount" class="control-label">Discounted Price</label>
						</div>
						<div class="form-group col-sm-6">
							<input type='number' pattern='[0-9]+(\\.[0-9][0-9]?)?' th:field="*{discount}"
								placeholder="Enter Discount" required/>
						</div>

						<div class="form-group col-sm-6 form-group required">
							<label for="Price" class="control-label">Actual Price</label>
						</div>
						<div class="form-group col-sm-6">
							<input type='number' pattern='[0-9]+(\\.[0-9][0-9]?)?' placeholder="Enter Price" th:field="*{price}" required/>
						</div>

						<div class="form-group col-sm-6">
							<label for="HomePage Flag">Do you want to show the game on Homepage?</label>
						</div>
						<div class="form-group col-sm-6">
							<select required th:field="*{homepageFlag}">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</div>


						<div class="form-group col-sm-10">
							<div class="row">
								<div class="col-sm-1s col-sm-offset-5">
									<input type="submit" value="Submit" class="btn btn-primary"
										style="color: #fff; background-color: #204a86ba;" /> <input
										type="reset" value="Reset" class="btn btn-primary"
										style="color: #fff; background-color: #204a86ba;" />
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div> Note:Dummy values for Image URL : images/SP_card.jpg , images/SP_card_2.jpg</div>
	</div>

</div>


	<br>
	<br>
	<footer class="footer-distributed">
		<div class="footer-right">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
		<div class="footer-left">
			<p class="footer-links">
				<a href="/">Home</a> <a href="#">Games</a> <a href="/contactus">Contact</a>
				<a href="/aboutus">About</a>
			</p>
			<p>Alpaca Games &copy; 2020</p>
		</div>
	</footer>
</body>
</html>