<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Login Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/footer.css">
<link rel="shortcut icon" type="../images/icon.png"
	href="../images/icon.png" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/login.css">
<script src="../js/cart.js"></script>
<script>$(function() {

        $('#login-form-link').click(function(e) {
        $("#login-form").delay(100).fadeIn(100);
         $("#register-form").fadeOut(100);
         $("#admin-login-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $('#admin-login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });
      $('#register-form-link').click(function(e) {
        $("#register-form").delay(100).fadeIn(100);
         $("#login-form").fadeOut(100);
         $("#admin-login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $('#admin-login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });
      $('#admin-login-form-link').click(function(e) {
          $("#admin-login-form").delay(100).fadeIn(100);
           $("#register-form").fadeOut(100);
           $("#login-form").fadeOut(100);
           $('#login-form-link').removeClass('active');
          $('#register-form-link').removeClass('active');
          $(this).addClass('active');
          e.preventDefault();
        });
    
    });

function confirmPass() {
    var pass = document.getElementById("reg-password").value
    var confPass = document.getElementById("reg-confirm-password").value
    if(pass != confPass) {
        alert('Oops! The spidey senses have detected that Password and Confirm Password do not match!');
    }
}


var message = "[[${message}]]";
if(message!=""){
window.alert(message);
$('input[type="text"], textarea').val('');
message="";
}
    </script>
</head>

<body id="login">

	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse " style="position:sticky;border-bottom: solid #254d85;" >
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <div class="title" style="    position: absolute;">
				<a href="/">
  				<img src="../images/icon.png" width="80px" height="80px" style="vertical-align: text-bottom;" >
				<span style="position: fixed;font-size: xx-large;">aLPACA GAMES</span>
				</a>
  			  </div>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: #333333; z-index: -1; height: 1px;">
		      <ul class="nav navbar-nav navbar-right" style="background-color: #333333;">
		        <li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/contactus">Contact</a></li>
				<li><a href="/aboutus">About</a></li>
				
			<!-- 	<li>
					<span th:if="${user==null}"><a href="/login">Login</a></span>
					<span th:unless="${user==null}">
						<a href="javascript:void(0)" class="dropbtn1">
			    		<span class="glyphicon glyphicon-user"></span>
			    		<span th:text="${user}"></span>
			    	</a>
	    			<ul class="dropdown1-content">
		    			<li><a class="dropdown1-content-a" href="/orderhistory/1">Orders</a></li>
		      			<li><a class="dropdown1-content-a" href="#"><span style="color: red; font-weight: bold;" class="glyphicon glyphicon-off"></span> Logout</a></li>
		    		</ul>
					</span>
				</li> -->
				<!-- 
				<span th:if="${user==null}">456</span>
	    		<span th:unless="${user==null}">123</span> -->
			    <!-- <span th:unless="${user==null}"><span th:text="${user.fristname}"></span></span> -->
				<li th:if="${loggedInUser==null}"><a href="/login">Login</a></li>
				<li th:unless="${loggedInUser==null}" class="dropdown1">
			    	<a href="javascript:void(0)" class="dropbtn1" style="color: #72ce62;">
			    		<span class="glyphicon glyphicon-user"></span>
			    		<span th:text="${loggedInUser}"></span>&nbsp;<span class="glyphicon glyphicon-menu-down"></span>
			    	</a>
	    			<ul class="dropdown1-content">
		    			<li><a class="dropdown1-content-a" href="/orderhistory/1">Orders</a></li>
		      			<li><a class="dropdown1-content-a" href="/logout"><span style="color: red; font-weight: bold;" class="glyphicon glyphicon-off"></span> Logout</a></li>
		    		</ul>
			    </li>
			    <li><a href="#" onclick="openCartPage(document.getElementById('cartForm'))"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				
		      </ul>
		      <form id="cartForm" method="post" onSubmit="openCartPage(this.form)">
			        <input type = "hidden" name = "mycart"/>			
			  </form>
		    </div>
		  </div>
		</nav>

	<div class="jumbotron jumbotron-sm">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="blue">Welcome Back !</h2>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4" style="padding-right: 0px;">
								<!-- <a href="#" class="active" id="login-form-link">Login</a> -->
								<button type="button" class="loginbtn active"
									id="login-form-link">Login</button>
							</div>
							<div class="col-xs-4" style="padding-left: 0px; padding-right: 0px;">
								<!-- <a href="#" id="register-form-link">Register</a> -->
								<button type="button" class="loginbtn" id="register-form-link">Register</button>
							</div>
							<div class="col-xs-4" style="padding-left: 0px; ">
								<!-- <a href="#" id="register-form-link">Register</a> -->
								<button type="button" class="loginbtn" id="admin-login-form-link">Admin Login</button>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="/loginProcess" th:object="${user}"
									method="post" role="form" style="display: block;">
									
									<div class="form-group">
									</div>
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Username" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											tabindex="2" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember"
											id="remember"> <label for="remember">
											Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit"
													tabindex="4" class="form-control btn btn-login"
													value="Log In"
													style="color: #fff; background-color: #204a86ba;">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="/createUser" tabindex="5" class="forgot-password">Forgot
														Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action=/createUser
									th:action="@{/createUser}" th:object="${user}" method="post"
									role="form" style="display: none;">
									<div class="form-group">
										<input th:field="*{firstname}" type="text" name="firstname"
											id="username" tabindex="1" class="form-control"
											placeholder="First Name" value="" required>
									</div>
									<div class="form-group">
										<input th:field="*{lastname}" type="text" name="lastname"
											id="username" tabindex="2" class="form-control"
											placeholder="Last Name" value="" required>
									</div>
									<div class="form-group">
										<input th:field="*{username}" type="text" name="username"
											id="username" tabindex="3" class="form-control"
											placeholder="Username" value="" required>
									</div>
									<div class="form-group">
										<input th:field="*{email}" type="email" name="email"
											id="email" tabindex="4" class="form-control"
											placeholder="Email Address" value="" required>
									</div>
									<div class="form-group">
										<input th:field="*{password}" type="password" name="password"
											id="reg-password" tabindex="5" class="form-control"
											placeholder="Password" required>
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password"
											id="reg-confirm-password" tabindex="6" class="form-control"
											placeholder="Confirm Password" required
											onblur="confirmPass()">
									</div>
									<div class="form-group">
										<input th:field="*{address}" type="text" name="address"
											id="address" tabindex="7" class="form-control"
											placeholder="Address" value="" required>
									</div>
									<div class="form-group">
										<input th:field="*{phone}" type="tel" pattern="^\d{10}$"
											name="phone" id="phone" tabindex="8" class="form-control"
											placeholder="Enter your Phone No: XXXXXXXXXX" value=""
											required>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit"
													id="register-submit" tabindex="4"
													class="form-control btn btn-register" value="Register Now"
													style="color: #fff; background-color: #204a86ba;">
											</div>
										</div>
									</div>
								</form>
								<form id="admin-login-form" action="/admin/loginProcess"
									th:object="${user}" method="post" role="form"
									style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Admin Username" value=""
											required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											tabindex="2" class="form-control"
											placeholder="Admin Password" required>
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit"
													tabindex="4" class="form-control btn btn-login"
													value="Log In" 
													style="color: #fff; background-color: #204a86ba;">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> 
				<a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/chetan2119/alpaca-games"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="/">Home</a>
					<a href="#">Games</a>
					<a href="/contactus">Contact</a>
					<a href="/aboutus">About</a>
				</p>
				<p>Alpaca Games &copy; 2020</p>
			</div>
		</footer>


</body>
</html>