<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
    <title>Payment Completed</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" type="../images/icon.png" href="../images/icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="../css/main.css">  
    <script src="../js/cart.js"></script>
	</head>
  
    <body id="payment">
      
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse " style="position:sticky;border-bottom: solid #254d85;" >
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <div class="title" style="    position: absolute;">
				<a href="/">
  				<img src="../images/icon.png" width="80px" height="80px" style="vertical-align: text-bottom;" >
				<span style="position: fixed;font-size: xx-large;">aLPACA GAMES</span>
				</a>
  			  </div>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar" style="background-color: #333333; z-index: -1; height: 1px;">
		      <ul class="nav navbar-nav navbar-right" style="background-color: #333333;">
		        <li><a href="/">Home</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/contactus">Contact</a></li>
				<li><a href="/aboutus">About</a></li>
				
			<!-- 	<li>
					<span th:if="${user==null}"><a href="/login">Login</a></span>
					<span th:unless="${user==null}">
						<a href="javascript:void(0)" class="dropbtn1">
			    		<span class="glyphicon glyphicon-user"></span>
			    		<span th:text="${user}"></span>
			    	</a>
	    			<ul class="dropdown1-content">
		    			<li><a class="dropdown1-content-a" href="/orderhistory/1">Orders</a></li>
		      			<li><a class="dropdown1-content-a" href="#"><span style="color: red; font-weight: bold;" class="glyphicon glyphicon-off"></span> Logout</a></li>
		    		</ul>
					</span>
				</li> -->
				<!-- 
				<span th:if="${user==null}">456</span>
	    		<span th:unless="${user==null}">123</span> -->
			    <!-- <span th:unless="${user==null}"><span th:text="${user.fristname}"></span></span> -->
				<li th:if="${user==null}"><a href="/login">Login</a></li>
				<li th:unless="${user==null}" class="dropdown1">
			    	<a href="javascript:void(0)" class="dropbtn1" style="color: #72ce62;">
			    		<span class="glyphicon glyphicon-user"></span>
			    		<span th:text="${user}"></span>&nbsp;<span class="glyphicon glyphicon-menu-down"></span>
			    	</a>
	    			<ul class="dropdown1-content">
		    			<li><a class="dropdown1-content-a" th:href= "'/orderhistory/' + ${user}">Orders</a></li>
		      			<li><a class="dropdown1-content-a" href="/logout"><span style="color: red; font-weight: bold;" class="glyphicon glyphicon-off"></span> Logout</a></li>
		    		</ul>
			    </li>
			    <li><a href="#" onclick="openCartPage(document.getElementById('cartForm'))"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
				
		      </ul>
		      <form id="cartForm" method="post" onSubmit="openCartPage(this.form)">
			        <input type = "hidden" name = "mycart"/>			
			  </form>
		    </div>
		  </div>
		</nav>
      <br>
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-4"></div>
            <div>
	            <div class="jumbotron jumbotron-sm">
				<div class="container">
					<div class="row" style="margin-bottom:150px">
						<div class="col-sm-6">
							<h2 class="blue">Payment Completed!</h2>
							<h3 class="red">Your Order ID is <span th:text="${orderId}"></span></h3>
						</div>
						<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="col-sm-2">
											</div>
											<div class="col-sm-10">
												<a href="/"><span class="glyphicon glyphicon-home fa-5x"></span></a>
											</div>
											
										</div>
									</div>
									<div class="col-sm-12">
										<h2 class="blue">
											<a href="/">Go to homepage!</a>
										</h2>
									</div>
								</div>
							</div>
						
					</div>
				</div>
				</div>
            	
            </div>
            <div class="col-lg-12 col-lg-4"></div>
        </div>
    </div>
    
 <br> <br>
<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a> 
				<a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/chetan2119/alpaca-games"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="/">Home</a>
					<a href="/games">Games</a>
					<a href="/contactus">Contact</a>
					<a href="/aboutus">About</a>
				</p>
				<p>Alpaca Games &copy; 2020</p>
			</div>
		</footer>
			<script></script>
	</body>
</html>