<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action=/createUser th:action="@{/createUser}" th:object="${user}" method="post">
		<p>
			username: <input type="text" th:field="*{username}" />
		</p>
		<p>
			password: <input type="text" th:field="*{password}" />
		</p>
		<p>
			firstname: <input type="text" th:field="*{firstname}" />
		</p>
		<p>
			lastname: <input type="text" th:field="*{lastname}" />
		</p>
		<p>
			email: <input type="text" th:field="*{email}" /> 
		</p>
		<p>
			address: <input type="text" th:field="*{address}" />
		</p>
		<p>
			phone: <input type="text" th:field="*{phone}" /> 
		</p>
		
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>
